<div style="margin-left: 0 auto; background-color: grey;">
    <h1>Question:</h1>
    <br>
    <h2>- <%= @user_input %></h2>
    <br>
</div>
<div style="margin-left: 0 auto; background-color: grey;">
    <h1>Answer:</h1>
    <br>
    <h2>- <%= @answer %></h2>
    <br>
</div>
<a href="ask">Ask a new question</a>